doctype html(lang='en')
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  title UpSkill
  link(rel='stylesheet', href='/static/stylesheets/simple.css')

  body
    // header
    include includes/header

    // content block
    block content

    // footer
    footer
      p.foot.text-xs-center UpSkill Learning Platform
      p.foot.text-xs-center Est. 2018

    script(src='/static/js/simple.js')
